<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <%- stylesheets %>
</head>
<body>
  <div class="main">
    <div class="blog-title">
      <h1><a href="/"><%= title %></a></h1>
    </div>

    <%- body %>
  </div>

  <%- scripts %>
</body>
</html>
